.form {
  margin-top: 1.8rem;
}

.input {
  color: #222;
  padding: .4em 1.2em;
  font-size: 1.2em;
  border: 2px solid dodgerblue;
  border-radius: 12px;
}

.buttonInactive {
  background-color: gainsboro;
  margin-left: .4em;
  margin-top: 1.2em;
  border-radius: 12px;
  padding: 0 1.2em;
  color: white;
  cursor: default;
}

.buttonActive {
  background-color: dodgerblue;
  margin-left: .4em;
  margin-top: 1.2em;
  border-radius: 12px;
  padding: 0 1.2em;
  color: white;
}

