.icon {
  height: 48px;
  width: 48px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.panel {
  width: 100%;
  display: block;
  background-color: #eee;
  color: #222;
  position: relative;
  margin: 1.4rem 0;
  padding: 1rem 3rem;
  border-radius: 1.2rem;
  transition: all 2s ease-out 0;
}

.panel.valTrue {
  background-color: var(--green);
  color: var(--greenExtraLight);
}

.panel.valFalse {
  background-color: var(--red);
  color: var(--redExtraLight);
}

.keyValuePair {
  font-family: 'Courier New', Courier, monospace;
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}

